/env/
/target
/draw/
test_data/**/*
!test_data
!test_data/anon_member_and_typedef
!test_data/anon_struct_many_typedef
!test_data/bitfields
!test_data/function_pointers
!test_data/fwd
!test_data/struct_union_same_name
!test_data/unnamed_members
!test_data/*/test.c
*.o
*.btf
test
*.bpftool
btf-rs/
scripts/
test_data/
